*{
	margin:0px;
padding: 0px;
box-sizing: border-box;
}
.header{
	background: #2C2C2C;;
}
.conteiner{
	max-width: 1000px;
	margin: 0 auto;
}
.header__conteiner{
display: flex;
justify-content: space-between;
align-items: center;
}

.header_list{
	color: #00C4F0;
	font-size: 18px;
	font-weight: 400;
	list-style: none;
	display: flex;
	margin: ;
}
.header_item{ 
	margin-right: 65px ;
}
.hero-block{
	background: #F00;
}
.hero-block__conteiner{ 
display: flex;
justify-content:space-between;
align-items:center ;
}
.hero-block__title{
color: #E4E4E4;
font-family: Nico Moji;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: normal;  
}
.hero-block__link{ 
color: #FFF;
font-family: Nico Moji;
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px; 
}
.hero-block__content{ 
max-width: 475px; 
 }
 .about{
 	background:  #000AFF;}

 	.about__conteiner{  
 		padding: 70px 148px;
 	}

.about__title{ 
color: #E4E4E4;
font-family: "Nico Moji";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
.about__content{
display:flex;	
justify-content: space-between;
align-items: center;
}
.about__text{
	max-width: 454px;
color: #E4E4E4;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right:50px ;
}
.about__span{
	color: #004298 ;
	font-size: 50px;
}
.video{  
	background:  #00FFA3;
	
}
.conteiner__video{
	padding: 70px 102px 98px 102px;
}	
.video__title{
	color: black;
font-family: "Nico Moji";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin-bottom: 50px ;

}
.video__video{
	width: 100%;
	height: 668px;
	border: 50px solid black;
	border-radius: 50px;
	box-sizing: border-box;

}
.gallery__title{
color: rgb(228, 228, 228);
font-family: Nico Moji;
font-size: 48px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}

.gallery__list{
	display: flex;
	flex-wrap:wrap;
}
.gallery__img{
width:100% ;
height: 100%;

}
.gallery__item{
	width: 50%;
	height: 390px;
}
.conteiner__footer{
	background: black;
}
.footer__title{
	color: rgb(228, 228, 228);
font-family: Nico Moji;
font-size: 30px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.footer__list{
list-style: none;
}
.conteiner__footer{
	display: flex;
	justify-content: space-around;
}
.footer{
	background: rgb(44, 44, 44);
}
.footer__text{
	color: white;
}